.profile {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 410px;
    padding: 74px 0 110px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
}

.profile__form {
    margin: 120px auto 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__wrap {
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #424242;
    margin-bottom: 17px;
}

.profile__wrap:last-of-type {
    border: none;
    margin-bottom: 0;
}

.profile__input-title {
    margin: 0;
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 11px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFFFFF;
}

.profile__input {
    outline: none;
    color: #FFFFFF;
    width: 100%;
    margin-left: 141px;
    padding:0 0 16px 0;
    text-align: right;
    background-color: transparent;
    border: none;
}

.profile__input-error {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ee3465;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
}

.profile__message {
    color: #ff004c;
    font-size: 11px;
    line-height: 1.2;
    align-self: center;
    margin: 190px 0 20px 0;
}

.profile__message_success {
    color: #3ddc84;
}

.profile__button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 16px 0;
    align-self: center;
}

.profile__button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 8ms;
}
.profile__button:disabled {
    cursor: not-allowed;
    color: #DBE2EA;
    border: none;
    box-shadow: none;
}

.profile__button:disabled:hover {
    opacity: 1;
}

.profile__button_action_logout {
    color: #FF004C;
}

.profile__button:focus-visible {
    outline: 2px solid #3DDC84;
}

@media screen and (max-width: 414px) {
    .profile {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 410px;
        padding: 70px 30px 40px 30px;
    }
}
