.form-button__container {
    display: flex;
    flex-direction: column;
}

.form-button__error {
    align-self: center;
    /*position: absolute;*/
    /*bottom: 65px;*/
    /*left: 0;*/
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #FF004C;
}

.form-button {
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.form-button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 8ms;
}

.form-button:focus-visible {
    outline: 2px solid #FFFFFF;
}

.form-button:disabled {
    cursor: not-allowed;
    background-color: #DBE2EA;
    border: none;
    box-shadow: none;
}

.form-button:disabled:hover {
    opacity: 1;
}
